{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1>Добро пожаловать</h1>

    <div class="row">
        {% for product in products %}
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="//placehold.it/100x100" alt="">
            </div>
        </div>
        {% endfor %}
    </div>

</div>
    {% endblock %}
